# ***Exploratory Data Analisys - An√°lisis sobre los h√°bitos de vida del ciudadano***
## ‚û°Ô∏è **Mapeo y descodificaci√≥n del Dataset original**
------

### üóíÔ∏è**Bloque de contenidos:**

1. [Importaci√≥n de m√≥dulos](#1-importaci√≥n-de-m√≥dulos)  
2. [Carga de datos](#2-carga-de-datos)    
    2.1. [Exploraci√≥n inicial del dataset en crudo](#21-exploraci√≥n-inicial-del-dataset-en-crudo)  
    2.2. [Selecci√≥n de las variables](#22-selecci√≥n-de-las-variables)  
3. [Mapeo y descodificaci√≥n de las variables](#3-mapeo-y-descodificaci√≥n-de-las-variables)
4. [Pr√≥ximos pasos](#4-pr√≥ximos-pasos)

---


### **1. Importaci√≥n de m√≥dulos**

In [7]:
%pwd

'c:\\Users\\sorim\\Documents\\Data_Science\\Evolve\\repos\\projects-evolve\\EDA'

In [2]:
# Ajusto la ruta
%cd ..

c:\Users\sorim\Documents\Data_Science\Evolve\repos\projects-evolve\EDA

In [3]:
import pandas as pd

import scripts.variables
from scripts.descodificacion import mapeo_df_original

### **2. Carga de datos**

In [4]:
df = pd.read_sas('./data/LLCP2022.XPT', format='xport', encoding='latin1')
df

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,02032022,02,03,2022,1100.0,2022000001,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,02042022,02,04,2022,1100.0,2022000002,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,02022022,02,02,2022,1100.0,2022000003,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,02032022,02,03,2022,1100.0,2022000004,2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,02022022,02,02,2022,1100.0,2022000005,2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,78.0,11.0,12192022,12,19,2022,1100.0,2022001527,2.022002e+09,NaN,...,4.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,1.0
445128,78.0,11.0,12212022,12,21,2022,1100.0,2022001528,2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,1.0
445129,78.0,11.0,11292022,11,29,2022,1100.0,2022001529,2.022002e+09,NaN,...,1.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,2.0,2.0,2.0
445130,78.0,11.0,12082022,12,08,2022,1100.0,2022001530,2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0
445131,78.0,11.0,12142022,12,14,2022,1100.0,2022001531,2.022002e+09,NaN,...,3.0,NaN,1.0,5.000000e+01,2.0,9.990000e+04,9.0,NaN,NaN,2.0

#### ***2.1. Exploraci√≥n inicial del dataset en crudo***

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Columns: 328 entries, _STATE to _AIDTST4
dtypes: float64(323), object(5)
memory usage: 1.1+ GB

Como se puede observar, es un dataset muy complejo en el que cuenta con 445.132 filas y 328 columnas. 

Al tener un tiempo limitado para poder analizar todos los datos, voy a centrarme en aquellas columnas que me pueden interesar m√°s.

#### ***2.2. Selecci√≥n de las variables***
Gracias a que la fuente de los datos tambi√©n incluye un archivo donde viene informaci√≥n de cada una de las variables ([incluido en la caperta data](../data/USCODE22_LLCP_102523.HTML)), me quedar√© con:
- **H√°bitos y estilo de vida**

    - `EXERANY2` -> ¬øRealiza ejercicio?

    - `SLEPTIM1` -> Horas de sue√±o

    - `SMOKE100` -> Ha fumado 100 cigarrillos en su vida

    - `ALCDAY4` -> Frecuencia de consumo de alcohol

- **Estr√©s y salud mental**

    - `MENTHLTH` -> D√≠as de mala salud mental (√∫ltimos 30 d√≠as)

- **Salud f√≠sica**

    - `GENHLTH` -> Salud general

    - `PHYSHLTH` -> D√≠as de mala salud f√≠sica

    - `DIABETE4` -> Diabetes

    - `CVDCRHD4` -> Enfermedad cardiovascular

    - `ASTHMA3` -> Asma

    - `CHCOCNC1` -> C√°ncer

- **Variables socio-demogr√°ficas**

    - `COLGSEX1` -> G√©nero

    - `_AGEG5YR` -> Grupo de edad

    - `INCOME3` -> Nivel de ingresos

    - `_EDUCAG` -> Nivel educativo

    - `EMPLOY1` -> Empleo

    - `_STATE` -> Estado

    - `_BMI5CAT` -> Categpr√≠as de IMC

### **3. Mapeo y descodificaci√≥n de las variables***

Gracias a la informaci√≥n dada en la fuente donde est√°n las variables descodificadas, se crea un archivo ([variables.py](../scripts/variables.py)) creando de manera manual variables independientes donde se recoge la informaci√≥n de cada columna seleccionada y los valores con su informaci√≥n real.

Por lo tanto, procedemos a mapear las variables para as√≠ descodificarlas, entender mejor su significado y poder analizarlas con mayor profundidad.

In [8]:
mapeo_df_original(df, scripts.variables)

,EXERANY2,ASTHMA3,CHCOCNC1,COLGSEX1,_AGEG5YR,INCOME3,_EDUCAG,EMPLOY1,_STATE,_BMI5CAT,SLEPTIM1,SMOKE100,ALCDAY4,MENTHLTH,GENHLTH,PHYSHLTH,DIABETE4,CVDCRHD4
0,No,No,No,NaN,Age 80 or older,Refused,Graduated from College or Technical School,Retired,Alabama,NaN,8.0,No,No drinks in past 30 days,None,Very good,None,Yes,No
1,No,No,Yes,NaN,Age 80 or older,"$25,000 to < $35,000",Graduated High School,Self-employed,Alabama,Overweight,6.0,No,No drinks in past 30 days,None,Excellent,None,No,No
2,Yes,No,No,NaN,Age 55 to 59,"$150,000 to < $200,000",Graduated from College or Technical School,Retired,Alabama,Overweight,5.0,No,No drinks in past 30 days,3.0,Very good,2.0,No,No
3,Yes,Yes,No,NaN,NaN,Don‚Äôt know/Not sure,Graduated High School,Retired,Alabama,Normal Weight,7.0,Yes,No drinks in past 30 days,None,Excellent,None,No,No
4,Yes,No,No,NaN,Age 30 to 44,"$25,000 to < $35,000",Attended College or Technical School,A homemaker,Alabama,Normal Weight,9.0,No,2 days per week,None,Fair,2.0,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,Yes,Yes,No,NaN,Age 18 to 24,"Less than $10,000",Graduated High School,Employed for wages,Virgin Islands,Overweight,6.0,No,Don‚Äôt know/Not sure,3.0,Good,None,No,No
445128,Yes,No,No,NaN,Age 50 to 54,"$50,000 to < $75,000",Graduated from College or Technical School,Employed for wages,Virgin Islands,Overweight,7.0,No,No drinks in past 30 days,2.0,Excellent,2.0,No,No
445129,No,No,No,NaN,Age 65 to 69,Don‚Äôt know/Not sure,Graduated High School,Unable to work,Virgin Islands,Underweight,5.0,Yes,Don‚Äôt know/Not sure,30.0,Poor,30.0,No,No
445130,No,Yes,No,NaN,Age 70 to 74,"$75,000 to < $100,000",Attended College or Technical School,Retired,Virgin Islands,Obese,5.0,No,No drinks in past 30 days,None,Very good,None,No,No
445131,Yes,No,No,NaN,Age 30 to 44,"$20,000 to < $25,000",Did not graduate High School,Employed for wages,Virgin Islands,Normal Weight,5.0,Yes,2 days per week,1.0,Very good,None,No,No

### **4. Pr√≥ximos pasos** 

La anterior ejecuci√≥n crea, de manera autom√°tica, el [archivo](../data/mapped_data.csv) con nuestras variables seleccionadas y los valores descodificados.

En el siguiente notebook, [notebook 02](./02_Exploracion_inicial.ipynb), nos adentraremos en una exploraci√≥n inicial, as√≠ como las distribuciones de cada variable llegando a conclusiones de limpieza.

----