# ***Exploratory Data Analisys - An√°lisis sobre los h√°bitos de vida del ciudadano***
## ‚û°Ô∏è **Primera exploraci√≥n del Dataset descodificado y primeras visualizaciones**
------

### üóíÔ∏è**Bloque de contenidos:**

1. [Importaci√≥n de m√≥dulos](#1-importaci√≥n-de-m√≥dulos)
2. [Carga del dataset descodificado](#2-carga-del-dataset-descodificado)  
    2.1. [Vista general](#21-vista-general)  
    2.2. [Renombramiento de columnas](#22-renombramiento-de-columnas)  
3. [Exploraci√≥n inicial general](#3-exploraci√≥n-inicial-general)  
    3.1. [Tipos de datos](#31-tipos-de-datos)  
    3.2. [Duplicados](#32-duplicados)  
4. [Distribuci√≥n de las variables](#4-distribuci√≥n-de-las-variables)  
    4.1. [Variables num√©ricas](#41-variables-num√©ricas)  
    4.2. [Variables categ√≥ricas](#42-variables-categ√≥ricas)  
5. [Diagn√≥stico de limpieza](#5-diagn√≥stico-de-limpieza)

### **1. Importaci√≥n de m√≥dulos**

In [1]:
# Ajusto la ruta
%cd ..

c:\Users\sorim\Documents\Data_Science\Evolve\repos\projects-evolve\EDA

In [2]:
from scripts.visualization import distribucion_categoricas
from scripts.variables import orden_categorias
from scripts.cleaning import ordenar_cat

import numpy as np
import pandas as pd

### **2. Carga del dataset descodificado**
####    ***2.1. Vista general***
Ahora que ya tenemos el dataset que queremos, lo cargamos y trabajamos sobre √©l.

Por lo que, en primer lugar, realizaremos una vista general de los datos.

In [3]:
df = pd.read_csv('./data/mapped_data.csv', low_memory = False) # Me sal√≠a un warning y me recomend√≥ poner este argumento a False.
df.head()

,EXERANY2,ASTHMA3,CHCOCNC1,COLGSEX1,_AGEG5YR,INCOME3,_EDUCAG,EMPLOY1,_STATE,_BMI5CAT,SLEPTIM1,SMOKE100,ALCDAY4,MENTHLTH,GENHLTH,PHYSHLTH,DIABETE4,CVDCRHD4
0,No,No,No,NaN,Age 80 or older,Refused,Graduated from College or Technical School,Retired,Alabama,NaN,8.0,No,No drinks in past 30 days,NaN,Very good,NaN,Yes,No
1,No,No,Yes,NaN,Age 80 or older,"$25,000 to < $35,000",Graduated High School,Self-employed,Alabama,Overweight,6.0,No,No drinks in past 30 days,NaN,Excellent,NaN,No,No
2,Yes,No,No,NaN,Age 55 to 59,"$150,000 to < $200,000",Graduated from College or Technical School,Retired,Alabama,Overweight,5.0,No,No drinks in past 30 days,3.0,Very good,2.0,No,No
3,Yes,Yes,No,NaN,NaN,Don‚Äôt know/Not sure,Graduated High School,Retired,Alabama,Normal Weight,7.0,Yes,No drinks in past 30 days,NaN,Excellent,NaN,No,No
4,Yes,No,No,NaN,Age 40 to 44,"$25,000 to < $35,000",Attended College or Technical School,A homemaker,Alabama,Normal Weight,9.0,No,2 days per week,NaN,Fair,2.0,No,No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 18 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   EXERANY2  445130 non-null  object
 1   ASTHMA3   445130 non-null  object
 2   CHCOCNC1  445129 non-null  object
 3   COLGSEX1  21 non-null      object
 4   _AGEG5YR  436053 non-null  object
 5   INCOME3   432200 non-null  object
 6   _EDUCAG   442749 non-null  object
 7   EMPLOY1   438936 non-null  object
 8   _STATE    445132 non-null  object
 9   _BMI5CAT  396326 non-null  object
 10  SLEPTIM1  445129 non-null  object
 11  SMOKE100  413355 non-null  object
 12  ALCDAY4   404369 non-null  object
 13  MENTHLTH  179900 non-null  object
 14  GENHLTH   445129 non-null  object
 15  PHYSHLTH  177308 non-null  object
 16  DIABETE4  445129 non-null  object
 17  CVDCRHD4  445130 non-null  object
dtypes: object(18)
memory usage: 61.1+ MB

Podemos observar que todas las columnas son de tipo `object` y hay nulos. Por lo que lo siguiente que realizaremos es:

- Cambiar el nombre de las columnas para que sean m√°s significativas y sepamos en todo momento sobre qu√© informaci√≥n estamos trabajando

- Analizar el tipo de las columnas y cambiar si fuese necesario.

- Analizar los `NaN` y si se puede realizar alguna transformaci√≥n.

#### ***2.2. Renombramiento de columnas***
Para una mayor facilidad a la hora de explorar el dataset, realizaremos el cambio de nombre de las variables en este punto.

In [5]:
# Renombro las columnas
name_cols = {'EXERANY2': 'ejercicio',
             'SLEPTIM1': 'sue√±o_h',
             'SMOKE100': 'fumar',
             'ALCDAY4': 'alcohol',
             'MENTHLTH': 'salud_mental_malos',
             'GENHLTH': 'salud_general',
             'PHYSHLTH': 'salud_fisica_mala',
             'DIABETE4': 'diabetes',
             'CVDCRHD4': 'enf_cardio',
             'ASTHMA3': 'asma',
             'CHCOCNC1': 'cancer',
             'COLGSEX1': 'genero',
             '_AGEG5YR': 'grupo_edad',
             'INCOME3': 'ingresos',
             '_EDUCAG': 'educacion',
             'EMPLOY1': 'empleo',
             '_STATE': 'estado',
             '_BMI5CAT': 'IMC'}

df.rename(columns=name_cols, inplace=True)
df.sample()

,ejercicio,asma,cancer,genero,grupo_edad,ingresos,educacion,empleo,estado,IMC,sue√±o_h,fumar,alcohol,salud_mental_malos,salud_general,salud_fisica_mala,diabetes,enf_cardio
245683,Yes,No,No,NaN,Age 65 to 69,"$50,000 to < $75,000",Graduated from College or Technical School,Retired,New Jersey,Obese,7.0,No,1 day per week,1.0,Very good,NaN,No,No

In [6]:
# Lo guardo para a posteriori
df.to_csv('./data/data_rename.csv', index=False)

### **3. Exploraci√≥n inicial general**
#### ***3.1. Tipos de datos***

A continuaci√≥n, veremos cada una de las variables y nos centraremos en la tipolog√≠a de sus datos

In [7]:
df['ejercicio'].value_counts(dropna=False)

ejercicio
Yes                    337559
No                     106480
Don‚Äôt know/Not sure       724
Refused                   367
NaN                         2
Name: count, dtype: int64

In [8]:
df['ejercicio'].dtype

dtype('O')

    Dejamos como est√° esta variable contando que tiene √∫nicamente dos NaN

In [9]:
df['sue√±o_h'].value_counts(dropna=False)

sue√±o_h
7.0                    132927
8.0                    125442
6.0                     95880
5.0                     30122
9.0                     21210
4.0                     12433
10.0                    10459
Don‚Äôt know/Not sure      4792
3.0                      3260
12.0                     3004
2.0                      1549
1.0                      1154
11.0                      686
Refused                   658
16.0                      329
15.0                      317
14.0                      295
18.0                      168
13.0                      165
20.0                      143
24.0                       52
17.0                       27
22.0                       19
23.0                       18
19.0                       16
21.0                        4
NaN                         3
Name: count, dtype: int64

In [10]:
df['sue√±o_h'].dtype

dtype('O')

    Aunque sea de tipo object, a lo mejor es mejor tratarla como una num√©rica. Sin embargo, debido a esos valores categ√≥ricos (Don‚Äôt know/Not Sure y Refused), lo podr√≠amos tratar como NaN y los sumamos a los 3 valores que aparecen

In [11]:
df['sue√±o_h'].value_counts(dropna=False)[['Don‚Äôt know/Not sure', 'Refused', np.nan]].sum()

np.int64(5453)

    Habr√≠a en total 5453 nulos en sue√±o_h

In [12]:
df['fumar'].value_counts(dropna=False)

fumar
No                     245955
Yes                    164217
NaN                     31777
Don‚Äôt know/Not sure      2297
Refused                   886
Name: count, dtype: int64

In [13]:
df['fumar'].dtype

dtype('O')

    La tratamos igual que la variable 'ejercicio' aunque tiene un gran n√∫mero de NaN

In [14]:
df['alcohol'].value_counts(dropna=False)

alcohol
No drinks in past 30 days    187667
2 days per week              144740
1 day per week                66151
NaN                           40763
Don‚Äôt know/Not sure            3447
Refused                        2364
Name: count, dtype: int64

In [15]:
df['alcohol'].dtype

dtype('O')

    La tratamos igual que la variable 'ejercicio' y 'fumar' aunque tiene un gran n√∫mero de NaN

In [16]:
df['salud_mental_malos'].value_counts(dropna=False)

salud_mental_malos
NaN                    265232
30.0                    26990
2.0                     23785
5.0                     19951
10.0                    15414
3.0                     15345
15.0                    14519
1.0                     14409
20.0                     9150
4.0                      7943
7.0                      7844
Don‚Äôt know/Not sure      6589
25.0                     3078
14.0                     2871
Refused                  2475
6.0                      2305
8.0                      1749
12.0                     1259
28.0                      910
21.0                      549
29.0                      502
9.0                       322
18.0                      319
16.0                      280
17.0                      244
27.0                      241
22.0                      193
13.0                      169
24.0                      124
11.0                      121
26.0                      106
23.0                       97
19.0                       47
Name: count, dtype: int64

In [17]:
df['salud_mental_malos'].dtype

dtype('O')

In [18]:
df['salud_mental_malos'].value_counts(dropna=False)[['Don‚Äôt know/Not sure', 'Refused', np.nan]].sum()

np.int64(274296)

    Esta variable tambi√©n convendr√≠a tratarla como una num√©rica por lo que, si hacemos la misma operaci√≥n que con la variable 'sue√±o_h', quedar√≠an muchos valores desconocidos.

In [19]:
df['salud_general'].value_counts(dropna=False)

salud_general
Very good              148444
Good                   143598
Excellent               71878
Fair                    60273
Poor                    19741
Don‚Äôt know/Not sure       810
Refused                   385
NaN                         3
Name: count, dtype: int64

In [20]:
df['salud_general'].dtype

dtype('O')

    La tratamos igual que la variable 'ejercicio', 'fumar' y 'alcohol' teniendo bastantes NaN si sumamos los valores desconocidos

In [21]:
df['salud_fisica_mala'].value_counts(dropna=False)

salud_fisica_mala
NaN                    267824
30.0                    33082
2.0                     25256
1.0                     17250
3.0                     15948
5.0                     15315
10.0                    10589
7.0                      9348
Don‚Äôt know/Not sure      8875
15.0                     8787
4.0                      8462
20.0                     5421
14.0                     5029
6.0                      2538
25.0                     2181
Refused                  2047
8.0                      1761
12.0                     1111
21.0                     1038
28.0                      751
9.0                       411
29.0                      365
18.0                      271
16.0                      255
27.0                      188
17.0                      185
13.0                      162
11.0                      161
22.0                      140
24.0                      125
26.0                      109
23.0                       99
19.0                       48
Name: count, dtype: int64

In [22]:
df['salud_fisica_mala'].value_counts(dropna=False)[['Don‚Äôt know/Not sure', 'Refused', np.nan]].sum()

np.int64(278746)

In [23]:
df['diabetes'].value_counts(dropna=False)

diabetes
No                                            368722
Yes                                            61158
Pre-diabetes or borderline diabetes            10329
Yes, but female told only during pregnancy      3836
Don‚Äôt know/Not sure                              763
Refused                                          321
NaN                                                3
Name: count, dtype: int64

In [24]:
df['enf_cardio'].value_counts(dropna=False)

enf_cardio
No                     414176
Yes                     26551
Don‚Äôt know/Not sure      4044
Refused                   359
NaN                         2
Name: count, dtype: int64

In [25]:
df['asma'].value_counts(dropna=False)

asma
No                     376665
Yes                     66694
Don‚Äôt know/Not sure      1494
Refused                   277
NaN                         2
Name: count, dtype: int64

In [26]:
df['cancer'].value_counts(dropna=False)

cancer
No                     392442
Yes                     50269
Don‚Äôt know/Not sure      2016
Refused                   402
NaN                         3
Name: count, dtype: int64

In [27]:
df['genero'].value_counts(dropna=False)

genero
NaN       445111
Female        16
Male           5
Name: count, dtype: int64

    Curioso que la mayor√≠a de las personas que se sometieron a esta encuesta no quisieron decir de qu√© sexo eran

In [28]:
df['grupo_edad'].value_counts(dropna=False)

grupo_edad
Age 65 to 69       47099
Age 60 to 64       44511
Age 70 to 74       43472
Age 55 to 59       36821
Age 80 or older    36251
Age 50 to 54       33644
Age 75 to 79       32518
Age 40 to 44       29942
Age 45 to 49       28531
Age 35 to 39       28526
Age 18 to 24       26941
Age 30 to 34       25807
Age 25 to 29       21990
NaN                 9079
Name: count, dtype: int64

In [29]:
df['ingresos'].value_counts(dropna=False)

ingresos
$50,000 to < $75,000      59148
$100,000 to < $150,000    50330
$75,000 to < $100,000     48436
Refused                   47001
$35,000 to < $50,000      46831
$25,000 to < $35,000      42294
Don‚Äôt know/Not sure       36114
$200,000 or more          23478
$150,000 to < $200,000    22553
$20,000 to < $25,000      20343
$15,000 to < $20,000      14300
NaN                       12932
$10,000 to < $15,000      11031
Less than $10,000         10341
Name: count, dtype: int64

In [30]:
df['educacion'].value_counts(dropna=False)

educacion
Graduated from College or Technical School    187496
Attended College or Technical School          120252
Graduated High School                         108990
Did not graduate High School                   26011
NaN                                             2383
Name: count, dtype: int64

In [31]:
df['empleo'].value_counts(dropna=False)

empleo
Employed for wages                  186004
Retired                             137083
Self-employed                        38768
Unable to work                       26737
A homemaker                          17477
A student                            11111
Out of work for 1 year or more        8668
Out of work for less than 1 year      8044
NaN                                   6196
Refused                               5044
Name: count, dtype: int64

In [32]:
df['estado'].value_counts(dropna=False)

estado
Washington              26152
New York                17800
Minnesota               16821
Ohio                    16487
Maryland                16418
Texas                   14245
Florida                 13393
Wisconsin               11276
Kansas                  11247
Massachusetts           11029
California              10952
Maine                   10646
Indiana                 10466
Virginia                10417
Arizona                 10185
Michigan                10058
South Carolina          10037
Utah                     9826
Connecticut              9784
Colorado                 9365
Georgia                  9236
Iowa                     8949
Vermont                  8811
New Jersey               8209
Hawaii                   7747
Nebraska                 7473
Missouri                 7438
South Dakota             7424
Montana                  7048
New Hampshire            6757
Idaho                    6280
Rhode Island             5893
Alaska                   5865
Oklahoma                 5775
Oregon                   5756
Louisiana                5629
Puerto Rico              5509
Arkansas                 5309
Tennessee                5266
West Virginia            4981
New Mexico               4758
Pennsylvania             4582
Alabama                  4506
North Carolina           4505
Mississippi              4239
North Dakota             4153
Wyoming                  4142
Illinois                 4056
Kentucky                 4023
Delaware                 3987
District of Columbia     3237
Nevada                   3188
Guam                     2266
Virgin Islands           1531
Name: count, dtype: int64

In [33]:
df['estado'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Guam', 'Puerto Rico',
       'Virgin Islands'], dtype=object)

In [34]:
df['IMC'].value_counts(dropna=False)

IMC
Overweight       139995
Obese            132577
Normal Weight    116976
NaN               48806
Underweight        6778
Name: count, dtype: int64

Para ver de manera m√°s visual los nulos en cada variables, veremos qu√© porcentaje tiene cada una:

In [35]:
prc_nulo = df.isnull().sum() / len(df)*100
prc_nulo

ejercicio              0.000449
asma                   0.000449
cancer                 0.000674
genero                99.995282
grupo_edad             2.039620
ingresos               2.905206
educacion              0.535347
empleo                 1.391947
estado                 0.000000
IMC                   10.964388
sue√±o_h                0.000674
fumar                  7.138781
alcohol                9.157508
salud_mental_malos    59.585022
salud_general          0.000674
salud_fisica_mala     60.167321
diabetes               0.000674
enf_cardio             0.000449
dtype: float64

Analizando estos porcentajes de nulos (sin ver la catidad de valores Desconocidos como `Don't know/Not sure` y `Refused`), podemos tener una primera idea de qu√© hacer con estos valores.

En resumen:

- Todas las variables tienen valores `NaN` por lo que antes de ver c√≥mo transformarlas tendremos en cuenta:

    - Los valores duplicados.

    - Si en una misma fila hay bastantes nulos.

- Imputaci√≥n de valores `NaN`:
    - **Valores con < 2% de nulos**: Se dejan dejan como est√° o se imputan ya que no crear√≠an sesgos.
    - **Valores entre 2% y 15% de nulos**: Se puede crear una categor√≠a llamada `Unknow`, donde se incluir√≠a las etiquetas `Don't know/Not sure` y `Refused`.
    - **Valores con > 40%**: Se eliminar√≠an ya que casi la mitad de los valores ser√≠an Desconocidos y no nos aporta informaci√≥n √∫til.

De momento:

- Con este an√°lisis de cada variable, podemos clasificar en dos grandes grupos:

    - **Variables de tipo categ√≥rica**: `ejercicio`, `fumar`, `alcohol`, `salud_general`, `diabetes`, `enf_cardio`, `asma`, `cancer`, `grupo_edad`, `genero`, `ingresos` (va por rangos), `educacion`, `empleo`, `estado` y `IMC`.

    - **Variables de tipo num√©rica**: `sue√±o_h`, `salud_mental_malos`, `salud_fisica_mala`.

#### ***3.2. Duplicados***

In [36]:
df.duplicated(keep=False).sum()

np.int64(5390)

De 445.132 valores, existen 5.390 filas en total que est√°n duplicadas.

Se puede profundizar m√°s y ver si las variables tienen m√°s valores nulos o no.

In [37]:
df_dup = df[df.duplicated(keep=False)]
nan_dup = df_dup.isna().sum()
nan_df = df.isna().sum()
dif_nulos = nan_df - nan_dup

In [38]:
print(f'Nulos en el DF de duplicados:\n\n{nan_dup}')

Nulos en el DF de duplicados:

ejercicio                0
asma                     0
cancer                   0
genero                5390
grupo_edad              65
ingresos               454
educacion               17
empleo                 249
estado                   0
IMC                    576
sue√±o_h                  0
fumar                  517
alcohol                523
salud_mental_malos    5143
salud_general            0
salud_fisica_mala     5295
diabetes                 0
enf_cardio               0
dtype: int64

In [39]:
print(f'Nulos en el DF completo:\n\n{nan_df}')

Nulos en el DF completo:

ejercicio                  2
asma                       2
cancer                     3
genero                445111
grupo_edad              9079
ingresos               12932
educacion               2383
empleo                  6196
estado                     0
IMC                    48806
sue√±o_h                    3
fumar                  31777
alcohol                40763
salud_mental_malos    265232
salud_general              3
salud_fisica_mala     267824
diabetes                   3
enf_cardio                 2
dtype: int64

In [40]:
print(f'Diferencia entre ambos:\n\n{dif_nulos}')

Diferencia entre ambos:

ejercicio                  2
asma                       2
cancer                     3
genero                439721
grupo_edad              9014
ingresos               12478
educacion               2366
empleo                  5947
estado                     0
IMC                    48230
sue√±o_h                    3
fumar                  31260
alcohol                40240
salud_mental_malos    260089
salud_general              3
salud_fisica_mala     262529
diabetes                   3
enf_cardio                 2
dtype: int64

    En la celda anterior es un simulacro de c√≥mo se quedar√≠an los nulos en cada variable si elimin√°semos TODAS las filas duplicadas.

In [41]:
df.duplicated().sum()

np.int64(2806)

2.806 ser√≠a las filas duplicadas dejando solo una ocurrencia. Si decidimos eliminar las duplicadas con el m√©todo:
```python 
keep='first' 
```
Mantendr√≠amos la primera ocurrencia para no eliminar informaci√≥n que fuese de utilidad

En conclusi√≥n:

- Tras un exhaustivo an√°lisis, se plantea la posilidad de eliminar las filas duplicadas manteniendo la primera ocurrencia.

### **4. Distribuci√≥n de las variables**

#### ***4.1. Variables num√©ricas***

Para poder hacer una vista de la distribuci√≥n de aquellas **variables num√©ricas**, primero hay que convertirlas ya que todas, en su formato original es de tipo object.

Creo una copia por si m√°s tarde no necesito que sean num√©ricas.

In [42]:
df_copy = df.copy()

In [43]:
cols_num = ['sue√±o_h', 'salud_mental_malos', 'salud_fisica_mala']

In [44]:
df_copy[cols_num] = df_copy[cols_num].replace(['Don‚Äôt know/Not sure', 'Refused'], np.nan)

In [45]:
# Cambio el tipo de esas variables
df_copy[cols_num] = df_copy[cols_num].astype(float)

In [46]:
df_copy.dtypes

ejercicio              object
asma                   object
cancer                 object
genero                 object
grupo_edad             object
ingresos               object
educacion              object
empleo                 object
estado                 object
IMC                    object
sue√±o_h               float64
fumar                  object
alcohol                object
salud_mental_malos    float64
salud_general          object
salud_fisica_mala     float64
diabetes               object
enf_cardio             object
dtype: object

In [47]:
df_copy.describe()

             sue√±o_h  salud_mental_malos  salud_fisica_mala
count  439679.000000       170836.000000      166386.000000
mean        7.022983           11.186869          11.346435
std         1.502425           10.171159          10.844877
min         1.000000            1.000000           1.000000
25%         6.000000            3.000000           2.000000
50%         7.000000            7.000000           6.000000
75%         8.000000           16.000000          20.000000
max        24.000000           30.000000          30.000000

In [48]:
# Quiero ver cu√°ntas personas ha marcado que de media duermen 24h al d√≠a.
df_copy.loc[df_copy['sue√±o_h'] == 24,'sue√±o_h'].count()

np.int64(52)

In [49]:
df_copy.loc[(df_copy['sue√±o_h'] == 1) | (df_copy['sue√±o_h'] == 2),'sue√±o_h'].count()

np.int64(2703)

Viendo estas distribuciones, se pueden sacar varias conclusiones:

- **`sue√±o_h`**:

    - Hay 52 personas que han marcado que de media, en un periodo de 24h, **duermen 24h**, es decir, duermen todo el d√≠a. Se puede considerar que estos 52 valores son nulos ya que es, matem√°ticamente imposible, que una persona duerma de media 24h en un d√≠a. 

    - Tambi√©n es muy interesante de 2.703 personas han marcado que duermen entre 1h y 2h al d√≠a. Por tema salud, no ser√≠a muy beneficioso, sin embargo, es m√°s factible que una persona que duerma 24h. Por lo que esos valores no lo tocar√≠amos dejando los valores como est√°n. Aunque pueden ser valores mal codificadas queriendo decir, 10h o 12h... 

    - Despu√©s, se observa que la media y la mediana son valores muy parecidos con una desviaci√≥n t√≠pica muy baja.

- **`salud_mental_malos`** y **`salud_fisica_mala`**:

    - Son variables m√°s sencillas de leer aunque siempre se juega la baza de que las entradas est√©n mal codificadas.

    - En ambos casos, la desviaci√≥n est√°ndar es muy alta ya que la diferencia entre la media y a la mediana es elevada. En esta situaci√≥n, podemos sacar la conclusi√≥n de que estas variables, al tener tanta importancia a la hora de hacer el an√°lisis, nos planteamos dejas los nulos con esos valores.

#### ***4.2. Variables categ√≥ricas***

En este caso, para poder analizar la distribuci√≥n de las **variables categ√≥ricas**, visulizaremos cada una de ellas con una **gr√°fica de barras**. Adem√°s, agruparemos los valores nulos en una etiqueta para que se pueda visualizar en las gr√°ficas y analizar, adem√°s, la distribuci√≥n de dichos datos.

In [50]:
cols_cat = [col for col in df.columns if col not in cols_num]

In [51]:
df_copy[cols_cat].isna().sum()

ejercicio             2
asma                  2
cancer                3
genero           445111
grupo_edad         9079
ingresos          12932
educacion          2383
empleo             6196
estado                0
IMC               48806
fumar             31777
alcohol           40763
salud_general         3
diabetes              3
enf_cardio            2
dtype: int64

In [52]:
df_copy[cols_cat] = df_copy[cols_cat].fillna('NULOS')

In [53]:
ordenar_cat(df_copy, cols_cat, orden_categorias)

ejercicio
Yes                    337559
No                     106480
Don‚Äôt know/Not sure       724
Refused                   367
NULOS                       2
Name: count, dtype: int64
******************************
asma
Yes                     66694
No                     376665
Don‚Äôt know/Not sure      1494
Refused                   277
NULOS                       2
Name: count, dtype: int64
******************************
cancer
Yes                     50269
No                     392442
Don‚Äôt know/Not sure      2016
Refused                   402
NULOS                       3
Name: count, dtype: int64
******************************
genero
Female        16
Male           5
NULOS     445111
Name: count, dtype: int64
******************************
grupo_edad
Age 18 to 24       26941
Age 25 to 29       21990
Age 30 to 34       25807
Age 35 to 39       28526
Age 40 to 44       29942
Age 45 to 49       28531
Age 50 to 54       33644
Age 55 to 59       36821
Age 60 to 64       44511
Age 65 to 69       47099
Age 70 to 74       43472
Age 75 to 79       32518
Age 80 or older    36251
NULOS               9079
Name: count, dtype: int64
******************************
ingresos
Less than $10,000         10341
$10,000 to < $15,000      11031
$15,000 to < $20,000      14300
$20,000 to < $25,000      20343
$25,000 to < $35,000      42294
$35,000 to < $50,000      46831
$50,000 to < $75,000      59148
$75,000 to < $100,000     48436
$100,000 to < $150,000    50330
$150,000 to < $200,000    22553
$200,000 or more          23478
Don‚Äôt know/Not sure       36114
Refused                   47001
NULOS                     12932
Name: count, dtype: int64
******************************
educacion
Did not graduate High School                   26011
Graduated High School                         108990
Graduated from College or Technical School    187496
NULOS                                           2383
Name: count, dtype: int64
******************************
empleo
A student                            11111
Unable to work                       26737
A homemaker                          17477
Out of work for less than 1 year      8044
Out of work for 1 year or more        8668
Self-employed                        38768
Employed for wages                  186004
Retired                             137083
Refused                               5044
NULOS                                 6196
Name: count, dtype: int64
******************************
IMC
Underweight        6778
Normal Weight    116976
Overweight       139995
Obese            132577
NULOS             48806
Name: count, dtype: int64
******************************
fumar
Yes                    164217
No                     245955
Don‚Äôt know/Not sure      2297
Refused                   886
NULOS                   31777
Name: count, dtype: int64
******************************
alcohol
1 day per week          66151
2 days per week        144740
Don‚Äôt know/Not sure      3447
Refused                  2364
NULOS                   40763
Name: count, dtype: int64
******************************
salud_general
Poor                    19741
Fair                    60273
Good                   143598
Very good              148444
Excellent               71878
Don‚Äôt know/Not sure       810
Refused                   385
NULOS                       3
Name: count, dtype: int64
******************************
diabetes
No                                            368722
Yes                                            61158
Yes, but female told only during pregnancy      3836
Pre-diabetes or borderline diabetes            10329
Don‚Äôt know/Not sure                              763
Refused                                          321
NULOS                                              3
Name: count, dtype: int64
******************************
enf_cardio
Yes                     26551
No                     414176
Don‚Äôt know/Not sure      4044
Refused                   359
NULOS                       2
Name: count, dtype: int64
******************************

*Observaciones*:
Se va a tratar como categor√≠as "Desconocidas" aquellas que sean categorizadas tanto `Don't know/Not sure`, `Refused`, `NULOS` ya que las tres es informaci√≥n que no tenemos.

- **`ejercicio`**:
    - Prevalece m√°s los datos que s√≠ tenemos a los Desconocidos. 
    - Se observa que hay m√°s personas que hacen ejercicio frente a las que no.
    - Esta variable, al tener pocos datos Desconocidos, es m√°s probable que no se transformen sus valores.

- **`asma`**:
    - Mismo caso que en el anterior respecto a los datos Desconocidos.
    - En este caso, prevalecen m√°s las personas que no tienen asma.
    - Podemos llegar a la misma conclusi√≥n que en la variable anterior.

- **`cancer`**:
    - Mismo caso que en el anterior respecto a los datos Desconocidos.
    - En este caso, prevalecen m√°s las personas que no tienen cancer.
    - Podemos llegar a la misma conclusi√≥n que en la variable anterior.

- **`genero`**:
    - Se puede observar que la gran cantidad de NULOS prevalece de manera masiva a los datos de g√©nero en s√≠, por lo que esta variable no aporta ninguna informaci√≥n √∫til.
    - Esta variable, se proceder√° a su eliminaci√≥n y no contaremos con ella para su an√°lisis ya que una transformaci√≥n de los NULOS ser√≠a incorporar sesgos.

- **`grupo_edad`**:
    - Los datos NULOS ocupan la menor parte de la capacidad de los datos de esta variable por lo que no tendr√≠a ninguna conscuencia a la hora de realizar el an√°lisis. 
    - Se observa que esta encuesta lo ha realizado m√°s personas con una edad superior a 50 a√±os.
    - Analizaremos mejor el impacto que puede tener la conversi√≥n de los nulos

- **`ingresos`**:
    - Si calculamos la cantidad total de los valores Desconocidos, llegamos a la conclusi√≥n de que ocupan una gran cantidad de datos recogidos.
    - Independientemente de lo anterior, se observa que la encuesta se ha realizado por personas que tienen un nivel econ√≥mico asequible (habr√° que valorar si influye la zona en este nivel econ√≥mico). La mitad de los valores corresponde a personas con un poder econ√≥mico m√°s elevado y la mitad inderior a los que menos tienen.
    - Analizaremos mejor el impacto que puede tener la conversi√≥n de los nulos

- **`educacion`**:
    - Prevalece m√°s los datos que s√≠ tenemos a los Nulos.
    - En este caso, prevalencen m√°s las personas que s√≠ se han graduado en la universidad o en la escuela t√©cnica, seguido de las personas que √∫nimente asistieron pero no han obtenido a√∫n el graduado y, despu√©s, contamos con los que se graduaron en el instituto seguido de los que no.
    - Esta variable, al tener pocos datos Nulos, es m√°s probable que no se transformen sus valores.

- **`empleo`**:
    - Los valores Desconocidos que aparecen en esta gr√°fica ocupan menor capacidad con respecto a la informaci√≥n √∫til que s√≠ son v√°lidas.
    - Se puede observar que hay m√°s personas que han realizado la encuesta que trabajan por cuenta ajena seguido, a continuaci√≥n, de personas que ya est√°n jubiladas. Las personas que no tienen trabajo desde hace menos de un a√±o o m√°s son las que han realizado menos la encuensta.
    - Ante la duda, analizaremos mejor el impacto que puede tener la conversi√≥n de los nulos

- **`estado`**:
    - No hay valores Desconocidos.
    - Prevalece m√°s los estados m√°s importantes, como su capital, as√≠ como estados con mayor poder econ√≥mico empresarial.

- **`IMC`**: Estos datos est√°n categorizados seg√∫n el **√çndice de Masa Coporal (IMC)**, es decir, es la relaci√≥n entre la masa corporal de una persona y su estatura. Seg√∫n los valores propuestos por la **Organizaci√≥n Mundial de la Salud (OMS)**, el IMC es uno de los principales recursos para evaluar el estado nutricional.
    - Se observa que los NULOS ocupan un puesto destacable en la gr√°fica superando a las personas categorizadas con "bajo peso".
    - En el resto de datos, se observa, que la gran mayor√≠a de las personas que realizaron la encuesta tienen sobrepeso y obsesidad. Ser√≠a interesante ver la relaci√≥n entre esta variable y la de `ejercicio`
    - Analizaremos mejor el impacto que puede tener la conversi√≥n de los nulos

- **`fumar`**: 
    - Respecto a los valores Desconocidos, en cantidad no es muy relevante pero s√≠ hay valores catalogados con este tipo de datos.
    - Adem√°s, se puede observar que la gran mayor√≠a de las personas que han realizado la encuesta, no fuman.
    - Analizaremos mejor el impacto que puede tener la conversi√≥n de los nulos

- **`alcohol`**: 
    - Pasa lo mismo que en la anterior variable con respecto a los valores Desconocidos.
    - La gran mayor√≠a de las peronas no han bebido en 30 d√≠as, seguido a las personas que beben 2 d√≠as a la semana (podemos intuir que es el fin de semana).
    - Analizaremos mejor el impacto que puede tener la conversi√≥n de los nulos

- **`salud_general`**: 
    - Prevalece m√°s los datos que s√≠ tenemos a los Desconocidos. 
    - La gran mayor√≠a de las personas tienen, en general, buena salud.
    - Esta variable, al tener pocos datos Desconocidos, es m√°s probable que no se transformen sus valores.

- **`diabetes`**: 
    - Prevalece m√°s los datos que s√≠ tenemos a los Desconocidos. 
    - Las mayor parte de las personas no tienen diabetes con una gran diferencia con respecto a los que s√≠ tuviero o est√°n en la pre-diabetes.
    - Esta variable, al tener pocos datos Desconocidos, es m√°s probable que no se transformen sus valores.

- **`enf_cardio`**: 
    - Prevalece m√°s los datos que s√≠ tenemos a los Desconocidos.
    - La gran mayor√≠a de las personas no han tenido enfermedades cardiovasculares.
    - Esta variable, al tener pocos datos Desconocidos, es m√°s probable que no se transformen sus valores.

### **5. Diagn√≥stico de limpieza**

Con este √°nilis exhaustivo de cada variable llegamos a la conclusi√≥n de realizar la **tranformaci√≥n del dataset** teniendo en cuenta el siguiente orden:

1. Eliminar filas **duplicadas** manteniendo la primera ocurrencia.

2. Se **eliminar√°n las filas** con **m√°s de la mitad de valores nulos** ya que ese registro no nos aporta informaci√≥n.

3. Se eliminar√°n las variables con **m√°s de un 40% de nulos** en sus valores.

4. Se crear√° una categor√≠a `Unknow` juntando los valores `Don't know/Not sure` y `Refused` en aquellas variables categ√≥ricas que tengan **entre un 2% y 15% de nulos**. En las categor√≠as num√©ricas se imputar√°n por la media o mediana.

5. En las variables un menos de un 2% de nulos, se imputar√°n por media, mediana o moda (seg√∫n tipo de variable) o no se transforman.

6. Se transformar√° el **tipo de las variables** si fuera necesario

En el siguiente notebook, [notebook 03](./03_Limpieza_y_preparacion.ipynb), se realizar√° el proceso de transformaci√≥n.

--------