# ***Exploratory Data Analisys - An√°lisis sobre los h√°bitos de vida del ciudadano***
## ‚û°Ô∏è **Limpieza de datos**
------

### üóíÔ∏è**Bloque de contenidos:**

1. [Importaci√≥n de m√≥dulos](#1-importaci√≥n-de-m√≥dulos)
2. [Carga del dataset descodificado](#2-carga-del-dataset-descodificado) 
3. [Tareas de limpieza](#3-tareas-de-limpieza)  
4. [Ejecuci√≥n de la limpieza](#4-ejecuci√≥n-de-la-limpieza)
5. [Validaciones](#5-validaciones)  
    5.1. [Eliminaci√≥n de la variable `genero`](#51-eliminaci√≥n-de-la-variable-genero)  
    5.2. [Eliminaci√≥n de las filas duplicadas y eliminaci√≥n de filas con m√°s de la mitad de valores nulos](#52-eliminaci√≥n-de-las-filas-duplicadas-y-eliminaci√≥n-de-filas-con-m√°s-de-la-mitad-de-valores-nulos)  
    5.3. [Categorizaci√≥n de `sue√±o_h` creando otra variable](#53-categorizaci√≥n-de-sue√±o_h-creando-otra-variable)  
    5.4. [Transformaci√≥n de las variables num√©ricas a tipo num√©rica](#54-transformaci√≥n-de-las-variables-num√©ricas-a-tipo-num√©rica)  
    5.5. [Transformaci√≥n de las variables num√©ricas a tipo num√©rica](#55-transformaci√≥n-de-las-variables-num√©ricas-a-tipo-num√©rica)  
6. [Guardado de dataset limpio](#6-guardado-de-dataset-limpio)
7. [Pr√≥ximos pasos](#7-pr√≥ximos-pasos)

### **1. Importaci√≥n de m√≥dulos**

In [1]:
# Ajusto la ruta
%cd ..

c:\Users\sorim\Documents\Data_Science\Evolve\repos\projects-evolve\EDA

In [2]:
from scripts.cleaning import clean_completed
import pandas as pd

### **2. Carga del dataset descodificado**

In [3]:
df = pd.read_csv('./data/data_rename.csv', low_memory = False) # Me sal√≠a un warning y me recomend√≥ poner este argumento a False.
df.head()

,ejercicio,asma,cancer,genero,grupo_edad,ingresos,educacion,empleo,estado,IMC,sue√±o_h,fumar,alcohol,salud_mental_malos,salud_general,salud_fisica_mala,diabetes,enf_cardio
0,No,No,No,NaN,Age 80 or older,Refused,Graduated from College or Technical School,Retired,Alabama,NaN,8.0,No,No drinks in past 30 days,NaN,Very good,NaN,Yes,No
1,No,No,Yes,NaN,Age 80 or older,"$25,000 to < $35,000",Graduated High School,Self-employed,Alabama,Overweight,6.0,No,No drinks in past 30 days,NaN,Excellent,NaN,No,No
2,Yes,No,No,NaN,Age 55 to 59,"$150,000 to < $200,000",Graduated from College or Technical School,Retired,Alabama,Overweight,5.0,No,No drinks in past 30 days,3.0,Very good,2.0,No,No
3,Yes,Yes,No,NaN,NaN,Don‚Äôt know/Not sure,Graduated High School,Retired,Alabama,Normal Weight,7.0,Yes,No drinks in past 30 days,NaN,Excellent,NaN,No,No
4,Yes,No,No,NaN,Age 40 to 44,"$25,000 to < $35,000",Attended College or Technical School,A homemaker,Alabama,Normal Weight,9.0,No,2 days per week,NaN,Fair,2.0,No,No

### **3. Tareas de limpieza**

Retomamos las conclusiones que llegamos en el [notebook 02](./02_Primer_analisis_descriptivo.ipynb):


1. Se **eliminar√° la variable `genero`** por su alto contenido en nulos (99%).

2. Eliminar filas **duplicadas** manteniendo la primera ocurrencia.

3. Se **eliminar√°n las filas** con **m√°s de la mitad de valores nulos** ya que ese registro no nos aporta informaci√≥n.

7. Se **categorizar√° la variable `sue√±o_h`** poniendo rangos de:
    - Menos de 4h.
    - Entre 4 y 7h.
    - M√°s de 7h

4. Se transformar√° el **tipo de las variables** en `salud_mental_malos` y `salud_fisica_mala` a **tipo num√©rica**.*

5. Se crear√° una **categor√≠a `Unknow`** en aquellas variables categ√≥ricas que contengan nulos

6. En el resto de variables que contiene nulos, **no se transformar√°n** para no crear sesgos ya que la informaci√≥n que los encuestados dan es de vital importancia.



A continuaci√≥n, procedemos a realizar las correspondientes transformaciones.

### **4. Ejecuci√≥n de la limpieza**

In [4]:
cols_num, cols_cat, df_clean = clean_completed(df, col_drop='genero')

-> Columna "genero" eliminada ‚úÖ

******************************

	 --> Procediendo a eliminar las filas duplicadas y las filas con m√°s de la mitad de nulos

N√∫mero de filas duplicadas sin tener en cuenta la primera ocurrencia: 2806
N√∫mero de registros en el DF con duplicados -> 445132

N√∫mero de registros en el DF sin duplicados -> 442326
N√∫mero de registros en el DF con thresh-> 442288

Diferencia entre sin thresh y con thresh -> 38

 Duplicados y filas eliminadas ‚úÖ

******************************

	 --> Procediendo a categorizar los valores de la coluna "sue√±o_h":


 Variable categorizada ‚úÖ

******************************

-> Columnas num√©ricas detectadas (a convertir): ['salud_mental_malos', 'salud_fisica_mala']

	 --> Procediendo a cambiar el tipo de variable a num√©rica:

 Variables cambiadas de tipo a num√©rica ‚úÖ

******************************

-> Columnas categ√≥ricas detectadas (para rellenar NaNs): ['ejercicio', 'asma', 'cancer', 'grupo_edad', 'ingresos', 'educacion', 'empleo', 'estado', 'IMC', 'sue√±o_h', 'fumar', 'alcohol', 'salud_general', 'diabetes', 'enf_cardio', 'sue√±o_cat']

	 --> Procediendo a cambiar los nulos a un valor categ√≥rico:

 Valor NaN cambiadas de etiqueta ‚úÖ

### **5. Validaciones**

Una vez realizada la limpieza, vamos a proceder a verificar todos los cambios. Por ello nos vamos a traer las tareas de limpieza y las validaremos de una en una

#### ***5.1. Eliminaci√≥n de la variable `genero`***

In [5]:
df_clean.columns == 'genero'

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

#### ***5.2. Eliminaci√≥n de las filas duplicadas y eliminaci√≥n de filas con m√°s de la mitad de valores nulos***

> N√∫mero de filas duplicadas sin tener en cuenta la primera ocurrencia: 2806  
> N√∫mero de registros en el DF con duplicados -> 445132  
> N√∫mero de registros en el DF sin publicados -> 442326  
> N√∫mero de registros en el DF con thresh-> 442288  
>Diferencia entre sin thresh y con thresh -> 38

In [6]:
len(df)

445132

In [7]:
len(df_clean) + 38

442326

In [8]:
len(df_clean)

442288

#### ***5.3. Categorizaci√≥n de `sue√±o_h` creando otra variable***

In [14]:
df_clean['sue√±o_cat'].value_counts()

sue√±o_cat
Entre 4 y 7h    269545
M√°s de 7h       161343
Menos de 4h       5959
NULO              5441
Name: count, dtype: int64

#### ***5.4. Transformaci√≥n de las variables num√©ricas a tipo num√©rica***

In [10]:
df_clean[cols_num].dtypes

salud_mental_malos    float64
salud_fisica_mala     float64
dtype: object

#### ***5.5. Transformaci√≥n de las variables num√©ricas a tipo num√©rica***

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ejercicio           445130 non-null  object
 1   asma                445130 non-null  object
 2   cancer              445129 non-null  object
 3   grupo_edad          436053 non-null  object
 4   ingresos            432200 non-null  object
 5   educacion           442749 non-null  object
 6   empleo              438936 non-null  object
 7   estado              445132 non-null  object
 8   IMC                 396326 non-null  object
 9   sue√±o_h             445129 non-null  object
 10  fumar               413355 non-null  object
 11  alcohol             404369 non-null  object
 12  salud_mental_malos  179900 non-null  object
 13  salud_general       445129 non-null  object
 14  salud_fisica_mala   177308 non-null  object
 15  diabetes            445129 non-null  object
 16  enf_cardio          445130 non-null  object
dtypes: object(17)
memory usage: 57.7+ MB

In [12]:
df_clean['alcohol'].value_counts(dropna=False)

alcohol
No drinks in past 30 days    186926
2 days per week              143528
1 day per week                65580
NULO                          40451
Don‚Äôt know/Not sure            3445
Refused                        2358
Name: count, dtype: int64

### **6. Guardado de dataset limpio**

In [13]:
df_clean.to_csv('./data/data_clean.csv', index=False)

### **7. Pr√≥ximos pasos**

Una vez que est√° listo nuestro dataset, en el siguiente cuaderno ([Notebook 04](04_Visualizaciones_y_analisis.ipynb)), procederemos al an√°lisis entre las variables para observar si hay alg√∫n tipo de relaci√≥n entre ellas.

----