# ***Exploratory Data Analisys - An√°lisis sobre los h√°bitos de vida del ciudadano***
## ‚û°Ô∏è **Limpieza de datos**
------

### üóíÔ∏è**Bloque de contenidos:**

1. [Importaci√≥n de m√≥dulos](#1-importaci√≥n-de-m√≥dulos)
2. [Carga del dataset descodificado](#2-carga-del-dataset-descodificado)

### **1. Importaci√≥n de m√≥dulos**

In [2]:
# Ajusto la ruta
%cd ..

c:\Users\sorim\Documents\Data_Science\Evolve\repos\projects-evolve\EDA

In [3]:
from scripts.visualization import distribucion_categoricas
from scripts.cleaning import *

import numpy as np
import pandas as pd

### **2. Carga del dataset descodificado**

In [4]:
df = pd.read_csv('./data/data_rename.csv', low_memory = False) # Me sal√≠a un warning y me recomend√≥ poner este argumento a False.
df.head()

,ejercicio,asma,cancer,genero,grupo_edad,ingresos,educacion,empleo,estado,IMC,sue√±o_h,fumar,alcohol,salud_mental_malos,salud_general,salud_fisica_mala,diabetes,enf_cardio
0,No,No,No,NaN,Age 80 or older,Refused,Graduated from College or Technical School,Retired,Alabama,NaN,8.0,No,No drinks in past 30 days,NaN,Very good,NaN,Yes,No
1,No,No,Yes,NaN,Age 80 or older,"$25,000 to < $35,000",Graduated High School,Self-employed,Alabama,Overweight,6.0,No,No drinks in past 30 days,NaN,Excellent,NaN,No,No
2,Yes,No,No,NaN,Age 55 to 59,"$150,000 to < $200,000",Graduated from College or Technical School,Retired,Alabama,Overweight,5.0,No,No drinks in past 30 days,3.0,Very good,2.0,No,No
3,Yes,Yes,No,NaN,NaN,Don‚Äôt know/Not sure,Graduated High School,Retired,Alabama,Normal Weight,7.0,Yes,No drinks in past 30 days,NaN,Excellent,NaN,No,No
4,Yes,No,No,NaN,Age 40 to 44,"$25,000 to < $35,000",Attended College or Technical School,A homemaker,Alabama,Normal Weight,9.0,No,2 days per week,NaN,Fair,2.0,No,No

### **3. Tareas de limpieza**

Retomamos las conclusiones que llegamos en el [notebook 02](./02_Primer_analisis_descriptivo.ipynb):


1. Eliminar filas **duplicadas** manteniendo la primera ocurrencia.

2. Se **eliminar√°n las filas** con **m√°s de la mitad de valores nulos** ya que ese registro no nos aporta informaci√≥n.

3. Se **eliminar√° la variable `genero`** por su alto contenido en nulos (99%).

4. Se crear√° una **categor√≠a `Unknow`** en aquellas variables categ√≥ricas que contengan nulos.

5. En el resto de variables que contiene nulos, **no se transformar√°n** para no crear sesgos ya que la informaci√≥n que los encuestados dan es de vital importancia.

6. Se transformar√° el **tipo de las variables** en `sue√±o_h`, `salud_mental_malos` y `salud_fisica_mala` a **tipo num√©rica**.*

A continuaci√≥n, procedemos a realizar las correspondientes transformaciones.

#### ***3.1. Eliminaci√≥n de la variable `g√©nero`***

In [6]:
df.drop(columns='genero', inplace=True)
df.sample()

,ejercicio,asma,cancer,grupo_edad,ingresos,educacion,empleo,estado,IMC,sue√±o_h,fumar,alcohol,salud_mental_malos,salud_general,salud_fisica_mala,diabetes,enf_cardio
231971,Yes,No,No,Age 40 to 44,"$35,000 to < $50,000",Graduated High School,Employed for wages,Nebraska,Obese,8.0,Yes,No drinks in past 30 days,NaN,Good,NaN,Yes,No

#### ***3.2. Limpieza de duplicados y de filas***

En este apartado:
1. Limpiaremos las filas duplicadas manteniendo la primera ocurrencia.

2. Eliminaremos las filas que contengan la mitad o m√°s de los valores ¬¥NaN¬¥, sin contar las que est√°n categorizadas con `Don't know/Not sure` y `Refused`. Teniendo 18 columnas, consideraremos que teniendo 9 valores nulos en total por fila, se eliminar√° esa fila, ya que ese registro no nos aportar√≠a la informaci√≥n suficiente para el an√°lisis.

In [7]:
df_ = clean_duplicated_thresh_nulls(df)
df_

N√∫mero de filas duplicadas sin tener en cuenta la primera ocurrencia: 2806
N√∫mero de registros en el DF con duplicados -> 445132

N√∫mero de registros en el DF sin publicados -> 442326
N√∫mero de registros en el DF con thresh-> 442288

Diferencia entre sin thresh y con thresh -> 38

,ejercicio,asma,cancer,grupo_edad,ingresos,educacion,empleo,estado,IMC,sue√±o_h,fumar,alcohol,salud_mental_malos,salud_general,salud_fisica_mala,diabetes,enf_cardio
0,No,No,No,Age 80 or older,Refused,Graduated from College or Technical School,Retired,Alabama,NaN,8.0,No,No drinks in past 30 days,NaN,Very good,NaN,Yes,No
1,No,No,Yes,Age 80 or older,"$25,000 to < $35,000",Graduated High School,Self-employed,Alabama,Overweight,6.0,No,No drinks in past 30 days,NaN,Excellent,NaN,No,No
2,Yes,No,No,Age 55 to 59,"$150,000 to < $200,000",Graduated from College or Technical School,Retired,Alabama,Overweight,5.0,No,No drinks in past 30 days,3.0,Very good,2.0,No,No
3,Yes,Yes,No,NaN,Don‚Äôt know/Not sure,Graduated High School,Retired,Alabama,Normal Weight,7.0,Yes,No drinks in past 30 days,NaN,Excellent,NaN,No,No
4,Yes,No,No,Age 40 to 44,"$25,000 to < $35,000",Attended College or Technical School,A homemaker,Alabama,Normal Weight,9.0,No,2 days per week,NaN,Fair,2.0,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,Yes,Yes,No,Age 18 to 24,"Less than $10,000",Graduated High School,Employed for wages,Virgin Islands,Overweight,6.0,No,Don‚Äôt know/Not sure,3.0,Good,NaN,No,No
445128,Yes,No,No,Age 50 to 54,"$50,000 to < $75,000",Graduated from College or Technical School,Employed for wages,Virgin Islands,Overweight,7.0,No,No drinks in past 30 days,2.0,Excellent,2.0,No,No
445129,No,No,No,Age 65 to 69,Don‚Äôt know/Not sure,Graduated High School,Unable to work,Virgin Islands,Underweight,5.0,Yes,Don‚Äôt know/Not sure,30.0,Poor,30.0,No,No
445130,No,Yes,No,Age 70 to 74,"$75,000 to < $100,000",Attended College or Technical School,Retired,Virgin Islands,Obese,5.0,No,No drinks in past 30 days,NaN,Very good,NaN,No,No
445131,Yes,No,No,Age 40 to 44,"$20,000 to < $25,000",Did not graduate High School,Employed for wages,Virgin Islands,Normal Weight,5.0,Yes,2 days per week,1.0,Very good,NaN,No,No

El dataset conten√≠a **2.806 filas duplicadas** sobre un total de 445.132.  

Tras analizarlas, se confirm√≥ que estos duplicados eran copias id√©nticas de otras observaciones, sin aportar informaci√≥n adicional.  

Al eliminar duplicados con `drop_duplicates()`, el n√∫mero de filas pas√≥ de **445.132 a 442.326**, coincidiendo exactamente con el n√∫mero de duplicados detectados.  

Por tanto, la depuraci√≥n no supone p√©rdida de informaci√≥n y √∫nicamente elimina registros redundantes.

Adem√°s, hemos reducido 38 registros que no nos aportaban gran informaci√≥n teniendo entre susf filas 9 o m√°s valores nulos.

### **4. Conversi√≥n de la tipolog√≠a de las variables**

In [8]:
cols_num = ['sue√±o_h', 'salud_mental_malos', 'salud_fisica_mala']
cols_cat = [col for col in df_.columns if col not in cols_num]

In [25]:
df_['sue√±o_h'].value_counts()

sue√±o_h
7.0                    131438
8.0                    124458
6.0                     95566
5.0                     30108
9.0                     21187
4.0                     12433
10.0                    10455
Don‚Äôt know/Not sure      4788
3.0                      3258
12.0                     3004
2.0                      1549
1.0                      1152
11.0                      686
Refused                   652
16.0                      329
15.0                      317
14.0                      295
18.0                      168
13.0                      165
20.0                      143
24.0                       52
17.0                       27
22.0                       19
23.0                       18
19.0                       16
21.0                        4
Name: count, dtype: int64

In [39]:
df_copy = df_.copy()

for col in cols_num:
    # Convertir a num√©rico:
    # - si puede convertirse -> lo convierte
    # - si no puede -> NaN
    df_copy[col] = pd.to_numeric(df_copy[col], errors='coerce')

df_copy['sue√±o_h'].value_counts(dropna=False)

sue√±o_h
7.0     131438
8.0     124458
6.0      95566
5.0      30108
9.0      21187
4.0      12433
10.0     10455
NaN       5441
3.0       3258
12.0      3004
2.0       1549
1.0       1152
11.0       686
16.0       329
15.0       317
14.0       295
18.0       168
13.0       165
20.0       143
24.0        52
17.0        27
22.0        19
23.0        18
19.0        16
21.0         4
Name: count, dtype: int64

### **5. Categorizaci√≥n de valores Nulos o Desconocidos**

In [8]:
df_clean = clean_nulls(df_, cols_cat)

La variable "ejercicio" tiene 0.0% de nulos por lo que no se transforma ninguno de sus valores

La variable "asma" tiene 0.0% de nulos por lo que no se transforma ninguno de sus valores

La variable "cancer" tiene 0.0002% de nulos por lo que transformamos sus valores Desconocidos por la moda

Se elimina la variable "genero"

La variable "grupo_edad" tiene 2.0362% de nulos por lo que cambiamos sus valores Desconocidos por "Unknown"

La variable "ingresos" tiene 2.8617% de nulos por lo que cambiamos sus valores Desconocidos por "Unknown"

La variable "educacion" tiene 0.5279% de nulos por lo que transformamos sus valores Desconocidos por la moda

La variable "empleo" tiene 1.3627% de nulos por lo que transformamos sus valores Desconocidos por la moda

La variable "estado" tiene 0.0% de nulos por lo que no se transforma ninguno de sus valores

La variable "IMC" tiene 10.9578% de nulos por lo que cambiamos sus valores Desconocidos por "Unknown"

La variable "sue√±o_h" tiene 0.0002% de nulos por lo que tranformamos sus valores Desconocidos por la mediana

La variable "fumar" tiene 7.1148% de nulos por lo que cambiamos sus valores Desconocidos por "Unknown"

La variable "alcohol" tiene 9.1459% de nulos por lo que cambiamos sus valores Desconocidos por "Unknown"

Se elimina la variable "salud_mental_malos"

La variable "salud_general" tiene 0.0002% de nulos por lo que transformamos sus valores Desconocidos por la moda

Se elimina la variable "salud_fisica_mala"

La variable "diabetes" tiene 0.0002% de nulos por lo que transformamos sus valores Desconocidos por la moda

La variable "enf_cardio" tiene 0.0% de nulos por lo que no se transforma ninguno de sus valores

In [10]:
df_clean.sample(5)

,ejercicio,asma,cancer,grupo_edad,ingresos,educacion,empleo,estado,IMC,sue√±o_h,fumar,alcohol,salud_general,diabetes,enf_cardio
153789,Yes,Yes,No,Age 55 to 59,Unknown,Graduated from College or Technical School,Retired,Maine,Normal Weight,8.0,No,1 day per week,Excellent,No,No
435422,No,No,No,Age 65 to 69,"$35,000 to < $50,000",Graduated High School,Retired,Wyoming,Overweight,7.0,Yes,2 days per week,Excellent,No,No
393313,No,Yes,No,Age 50 to 54,"$100,000 to < $150,000",Graduated from College or Technical School,Employed for wages,Washington,Obese,6.0,No,No drinks in past 30 days,Fair,Yes,Yes
232581,Yes,No,No,Age 30 to 34,"$100,000 to < $150,000",Attended College or Technical School,Self-employed,Nebraska,Underweight,8.0,No,2 days per week,Very good,No,No
437920,Yes,No,No,Age 30 to 34,"$75,000 to < $100,000",Graduated High School,Employed for wages,Guam,Obese,7.0,No,2 days per week,Very good,No,No

### **4. Validaciones**

In [9]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 442288 entries, 0 to 445131
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ejercicio      442288 non-null  object
 1   asma           442288 non-null  object
 2   cancer         442288 non-null  object
 3   grupo_edad     442288 non-null  object
 4   ingresos       442288 non-null  object
 5   educacion      442288 non-null  object
 6   empleo         442288 non-null  object
 7   estado         442288 non-null  object
 8   IMC            442288 non-null  object
 9   sue√±o_h        442288 non-null  float64
 10  fumar          442288 non-null  object
 11  alcohol        442288 non-null  object
 12  salud_general  442288 non-null  object
 13  diabetes       442288 non-null  object
 14  enf_cardio     442288 non-null  object
dtypes: float64(1), object(14)
memory usage: 54.0+ MB

In [11]:
df_clean.isna().sum()

ejercicio        0
asma             0
cancer           0
grupo_edad       0
ingresos         0
educacion        0
empleo           0
estado           0
IMC              0
sue√±o_h          0
fumar            0
alcohol          0
salud_general    0
diabetes         0
enf_cardio       0
dtype: int64

In [ ]:
for col in df_clean.columns:
    if col in cols_cat:
        print('\n',df_clean[col].value_counts())
        print('----')

 ejercicio
Yes                    334797
No                     106406
Don‚Äôt know/Not sure       724
Refused                   361
Name: count, dtype: int64
----

 asma
No                     373870
Yes                     66653
Don‚Äôt know/Not sure      1494
Refused                   271
Name: count, dtype: int64
----

 cancer
No                     389697
Yes                     50179
Don‚Äôt know/Not sure      2016
Refused                   396
Name: count, dtype: int64
----

 grupo_edad
Age 65 to 69       46811
Age 60 to 64       44228
Age 70 to 74       43155
Age 55 to 59       36525
Age 80 or older    36075
Age 50 to 54       33340
Age 75 to 79       32361
Age 30 to 44       29668
Age 35 to 39       28334
Age 45 to 49       28316
Age 18 to 24       26887
Age 30 to 34       25682
Age 25 to 29       21900
Unknown             9006
Name: count, dtype: int64
----

 ingresos
Unknown                   95457
$50,000 to < $75,000      58824
$100,000 to < $150,000    49705
$75,000 to < $100,000     48107
$35,000 to < $50,000      46690
$25,000 to < $35,000      42202
$200,000 or more          23023
$150,000 to < $200,000    22289
$20,000 to < $25,000      20329
$15,000 to < $20,000      14294
$10,000 to < $15,000      11028
Less than $10,000         10340
Name: count, dtype: int64
----

 educacion
Graduated from College or Technical School    187657
Attended College or Technical School          119887
Graduated High School                         108740
Did not graduate High School                   26004
Name: count, dtype: int64
----

 empleo
Employed for wages                  190372
Retired                             136180
Self-employed                        38698
Unable to work                       26734
A homemaker                          17464
A student                            11098
Out of work for 1 year or more        8668
Out of work for less than 1 year      8043
Refused                               5031
Name: count, dtype: int64
----

 estado
Washington              25724
New York                17669
Minnesota               16612
Ohio                    16372
Maryland                16234
Texas                   14168
Florida                 13316
Wisconsin               11194
Kansas                  11163
Massachusetts           10944
California              10890
Maine                   10572
Indiana                 10414
Virginia                10354
Arizona                 10139
Michigan                10007
South Carolina           9968
Utah                     9732
Connecticut              9693
Colorado                 9292
Georgia                  9200
Iowa                     8914
Vermont                  8728
New Jersey               8150
Hawaii                   7714
Nebraska                 7438
Missouri                 7413
South Dakota             7380
Montana                  7024
New Hampshire            6700
Idaho                    6259
Rhode Island             5867
Alaska                   5851
Oklahoma                 5770
Oregon                   5741
Louisiana                5620
Puerto Rico              5494
Arkansas                 5297
Tennessee                5254
West Virginia            4975
New Mexico               4749
Pennsylvania             4572
North Carolina           4493
Alabama                  4492
Mississippi              4228
North Dakota             4141
Wyoming                  4133
Illinois                 4048
Kentucky                 4017
Delaware                 3983
District of Columbia     3214
Nevada                   3181
Guam                     2261
Virgin Islands           1530
Name: count, dtype: int64
----

 IMC
Overweight       138823
Obese            132184
Normal Weight    116041
Unknown           48465
Underweight        6775
Name: count, dtype: int64
----

 fumar
No         243834
Yes        163810
Unknown     34644
Name: count, dtype: int64
----

 alcohol
No drinks in past 30 days    186926
2 days per week              143528
1 day per week                65580
Unknown                       46254
Name: count, dtype: int64
----

 salud_general
Very good              146942
Good                   143217
Excellent               70940
Fair                    60263
Poor                    19737
Don‚Äôt know/Not sure       810
Refused                   379
Name: count, dtype: int64
----

 diabetes
No                                            365940
Yes                                            61110
Pre-diabetes or borderline diabetes            10325
Yes, but female told only during pregnancy      3836
Don‚Äôt know/Not sure                              763
Refused                                          314
Name: count, dtype: int64
----

 enf_cardio
No                     411360
Yes                     26531
Don‚Äôt know/Not sure      4044
Refused                   353
Name: count, dtype: int64
----

In [16]:
df_clean.describe()

             sue√±o_h
count  442288.000000
mean        7.021310
std         1.496813
min         1.000000
25%         6.000000
50%         7.000000
75%         8.000000
max        24.000000

In [ ]:
cada una de ellas con una **gr√°fica de barras**. Adem√°s, agruparemos los valores nulos en una etiqueta para que se pueda visualizar en las gr√°ficas y analizar, adem√°s, la distribuci√≥n de dichos datos.