# *Exploratory Data Analisys - An√°lisis sobre los h√°bitos de vida del ciudadano*

## üóíÔ∏è**Bloque de contenidos:**

1. [Introducci√≥n](#Introducci√≥n)
2. [Carga de datos](#Carga-de-datos)


## **1. Introducci√≥n**

El presente notebook realiza un *An√°lisis Exploratorio de Datos (EDA)* sobre un conjunto de datos de salud p√∫blica procedente del **Behavioral Risk Factor Surveillance System (BRFSS)**, una encuesta anual realizada por los **Centers for Disease Control and Prevention (CDC)** de Estados Unidos. Este dataset recoge informaci√≥n detallada relacionada con h√°bitos de vida, salud f√≠sica, bienestar emocional, estilos de alimentaci√≥n, sue√±o, ejercicio f√≠sico, consumo de alcohol y presencia de determinadas enfermedades.

El objetivo principal de este notebook es llevar a cabo un flujo completo y estructurado de **exploraci√≥n, limpieza y visualizaci√≥n** b√°sica de los datos, siguiendo el prop√≥sito del ejercicio pr√°ctico del m√°ster. El an√°lisis inicial permitir√° comprender la estructura del dataset, evaluar su calidad, detectar problemas comunes (valores nulos, incoherencias, outliers, codificaciones irregulares) y preparar el conjunto de datos para an√°lisis posteriores.

Este trabajo se centra exclusivamente en el EDA, sin aplicar t√©cnicas de modelado ni an√°lisis estad√≠stico avanzado. La intenci√≥n es **desarrollar criterio y orden** en las fases fundamentales de inspecci√≥n y tratamiento de datos, aplicando buenas pr√°cticas de an√°lisis exploratorio.

A lo largo del notebook se realizar√°n los **siguientes pasos**:

- Carga del dataset y revisi√≥n general de su estructura.

- Exploraci√≥n inicial: tipos de datos, valores nulos, duplicados, rangos y coherencia.

- Limpieza y normalizaci√≥n, justificando cada decisi√≥n.

- Visualizaciones b√°sicas para comprender la distribuci√≥n de variables clave.

- Conclusiones exploratorias que resuman los principales hallazgos.

El **objetivo final** es obtener una visi√≥n clara y ordenada del dataset, transform√°ndolo desde su estado original hacia una versi√≥n depurada que facilite futuras tareas anal√≠ticas.

Para poder iniciar este EDA, se debe plantear una serie de preguntas que alce la iniciativa y la curiosidad del an√°lisis, planteando estas **primeras cuestiones**:

- ¬øC√≥mo se distribuyen las horas de sue√±o?

- ¬øQu√© prevalencia hay de mala salud mental o f√≠sica?

- ¬øQu√© relaci√≥n podr√≠a haber entre ejercicio, sue√±o y salud percibida?

- ¬øHay diferencias seg√∫n sexo o grupo de edad?

---

## **2. Carga de datos**

### ***2.1 Importaci√≥n de m√≥dulos***

In [9]:
import pandas as pd

### ***2.2 Importaci√≥n de datos***

In [10]:
df = pd.read_sas('./data/LLCP2022.XPT', format='xport', encoding='latin1')
df

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,02032022,02,03,2022,1100.0,2022000001,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,02042022,02,04,2022,1100.0,2022000002,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,02022022,02,02,2022,1100.0,2022000003,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,02032022,02,03,2022,1100.0,2022000004,2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,02022022,02,02,2022,1100.0,2022000005,2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,78.0,11.0,12192022,12,19,2022,1100.0,2022001527,2.022002e+09,NaN,...,4.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,1.0
445128,78.0,11.0,12212022,12,21,2022,1100.0,2022001528,2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,1.0
445129,78.0,11.0,11292022,11,29,2022,1100.0,2022001529,2.022002e+09,NaN,...,1.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,2.0,2.0,2.0
445130,78.0,11.0,12082022,12,08,2022,1100.0,2022001530,2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0
445131,78.0,11.0,12142022,12,14,2022,1100.0,2022001531,2.022002e+09,NaN,...,3.0,NaN,1.0,5.000000e+01,2.0,9.990000e+04,9.0,NaN,NaN,2.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Columns: 328 entries, _STATE to _AIDTST4
dtypes: float64(323), object(5)
memory usage: 1.1+ GB

In [14]:
df['ALCDAY4'].dtype

dtype('float64')

Como se puede observar, es un dataset muy complejo en el que cuenta con 445.132 filas y 328 columnas. 

Al tener un tiempo limitado para poder analizar todos los datos, voy a centrarme en aquellas columnas que me pueden interesar m√°s. 

Gracias a que la fuente de los datos tambi√©n incluye un archivo donde viene informaci√≥n de cada una de las variables, me quedar√© con:
- **H√°bitos y estilo de vida**

    - `EXERANY2` -> ¬øRealiza ejercicio?

    - `SLEPTIM1` -> Horas de sue√±o

    - `SMOKE100` -> Ha fumado 100 cigarrillos en su vida

    - `ALCDAY5` -> Frecuencia de consumo de alcohol

- **Estr√©s y salud mental**

    - `MENTHLTH` -> D√≠as de mala salud mental (√∫ltimos 30 d√≠as)

- **Salud f√≠sica**

    - `GENHLTH` -> Salud general

    - `PHYSHLTH` -> D√≠as de mala salud f√≠sica

    - `DIABETE4` -> Diabetes

    - `CVDCRHD4` -> Enfermedad cardiovascular

    - `ASTHMA3` -> Asma

    - `CHCOCNC1` -> C√°ncer

- **Variables socio-demogr√°ficas**

    - `COLGSEX1` -> G√©nero

    - `_AGEG5YR` -> Grupo de edad

    - `INCOME3` -> Nivel de ingresos

    - `_EDUCAG` -> Nivel educativo

    - `EMPLOY1` -> Empleo

    - `_STATE` -> Estado

    - `_BMI5CAT` -> Categpr√≠as de IMC

Cargar el archivo XPT (o CSV si ya lo convertiste).

2.2 Vista general

Mostrar dimensiones (filas/columnas).

Mostrar primeras filas.

2.3 Tipos de datos

Revisar tipos de columna.

Identificar columnas num√©ricas, categ√≥ricas y c√≥digos especiales.