# *Exploratory Data Analisys - An√°lisis sobre los h√°bitos de vida del ciudadano*
------

## üóíÔ∏è**Bloque de contenidos:**

1. [Introducci√≥n](#Introducci√≥n)
2. [Carga de datos](#Carga-de-datos)


## **1. Introducci√≥n**

El presente notebook realiza un *An√°lisis Exploratorio de Datos (EDA)* sobre un conjunto de datos de salud p√∫blica procedente del **Behavioral Risk Factor Surveillance System (BRFSS)**, una encuesta anual realizada por los **Centers for Disease Control and Prevention (CDC)** de Estados Unidos. Este dataset recoge informaci√≥n detallada relacionada con h√°bitos de vida, salud f√≠sica, bienestar emocional, estilos de alimentaci√≥n, sue√±o, ejercicio f√≠sico, consumo de alcohol y presencia de determinadas enfermedades.

El objetivo principal de este notebook es llevar a cabo un flujo completo y estructurado de **exploraci√≥n, limpieza y visualizaci√≥n** b√°sica de los datos, siguiendo el prop√≥sito del ejercicio pr√°ctico del m√°ster. El an√°lisis inicial permitir√° comprender la estructura del dataset, evaluar su calidad, detectar problemas comunes (valores nulos, incoherencias, outliers, codificaciones irregulares) y preparar el conjunto de datos para an√°lisis posteriores.

Este trabajo se centra exclusivamente en el EDA, sin aplicar t√©cnicas de modelado ni an√°lisis estad√≠stico avanzado. La intenci√≥n es **desarrollar criterio y orden** en las fases fundamentales de inspecci√≥n y tratamiento de datos, aplicando buenas pr√°cticas de an√°lisis exploratorio.

A lo largo del notebook se realizar√°n los **siguientes pasos**:

- Carga del dataset y revisi√≥n general de su estructura.

- Exploraci√≥n inicial: tipos de datos, valores nulos, duplicados, rangos y coherencia.

- Limpieza y normalizaci√≥n, justificando cada decisi√≥n.

- Visualizaciones b√°sicas para comprender la distribuci√≥n de variables clave.

- Conclusiones exploratorias que resuman los principales hallazgos.

El **objetivo final** es obtener una visi√≥n clara y ordenada del dataset, transform√°ndolo desde su estado original hacia una versi√≥n depurada que facilite futuras tareas anal√≠ticas.

Para poder iniciar este EDA, se debe plantear una serie de preguntas que alce la iniciativa y la curiosidad del an√°lisis, planteando estas **primeras cuestiones**:

- ¬øC√≥mo se distribuyen las horas de sue√±o?

- ¬øQu√© prevalencia hay de mala salud mental o f√≠sica?

- ¬øQu√© relaci√≥n podr√≠a haber entre ejercicio, sue√±o y salud percibida?

- ¬øHay diferencias seg√∫n sexo o grupo de edad?

---

## **2. Carga de datos**

### ***2.1 Importaci√≥n de m√≥dulos***

In [2]:
%pwd

'c:\\Users\\sorim\\Documents\\Data_Science\\Evolve\\repos\\projects-evolve\\EDA\\notebooks'

In [1]:
# Ajusto la ruta
%cd ..

c:\Users\sorim\Documents\Data_Science\Evolve\repos\projects-evolve\EDA

In [2]:
from data.variables import *
from notebooks.funciones import *
import pandas as pd

### ***2.2 Importaci√≥n de datos***

In [3]:
df = pd.read_sas('./data/LLCP2022.XPT', format='xport', encoding='latin1')
df

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,02032022,02,03,2022,1100.0,2022000001,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,02042022,02,04,2022,1100.0,2022000002,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,02022022,02,02,2022,1100.0,2022000003,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,02032022,02,03,2022,1100.0,2022000004,2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,02022022,02,02,2022,1100.0,2022000005,2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,78.0,11.0,12192022,12,19,2022,1100.0,2022001527,2.022002e+09,NaN,...,4.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,1.0
445128,78.0,11.0,12212022,12,21,2022,1100.0,2022001528,2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,1.0
445129,78.0,11.0,11292022,11,29,2022,1100.0,2022001529,2.022002e+09,NaN,...,1.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,2.0,2.0,2.0
445130,78.0,11.0,12082022,12,08,2022,1100.0,2022001530,2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0
445131,78.0,11.0,12142022,12,14,2022,1100.0,2022001531,2.022002e+09,NaN,...,3.0,NaN,1.0,5.000000e+01,2.0,9.990000e+04,9.0,NaN,NaN,2.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Columns: 328 entries, _STATE to _AIDTST4
dtypes: float64(323), object(5)
memory usage: 1.1+ GB

Como se puede observar, es un dataset muy complejo en el que cuenta con 445.132 filas y 328 columnas. 

Al tener un tiempo limitado para poder analizar todos los datos, voy a centrarme en aquellas columnas que me pueden interesar m√°s. 

Gracias a que la fuente de los datos tambi√©n incluye un archivo donde viene informaci√≥n de cada una de las variables, me quedar√© con:
- **H√°bitos y estilo de vida**

    - `EXERANY2` -> ¬øRealiza ejercicio?

    - `SLEPTIM1` -> Horas de sue√±o

    - `SMOKE100` -> Ha fumado 100 cigarrillos en su vida

    - `ALCDAY5` -> Frecuencia de consumo de alcohol

- **Estr√©s y salud mental**

    - `MENTHLTH` -> D√≠as de mala salud mental (√∫ltimos 30 d√≠as)

- **Salud f√≠sica**

    - `GENHLTH` -> Salud general

    - `PHYSHLTH` -> D√≠as de mala salud f√≠sica

    - `DIABETE4` -> Diabetes

    - `CVDCRHD4` -> Enfermedad cardiovascular

    - `ASTHMA3` -> Asma

    - `CHCOCNC1` -> C√°ncer

- **Variables socio-demogr√°ficas**

    - `COLGSEX1` -> G√©nero

    - `_AGEG5YR` -> Grupo de edad

    - `INCOME3` -> Nivel de ingresos

    - `_EDUCAG` -> Nivel educativo

    - `EMPLOY1` -> Empleo

    - `_STATE` -> Estado

    - `_BMI5CAT` -> Categpr√≠as de IMC

### ***2.3 Mapeo de las variables***

Ahora que ya se ha hecho la selecci√≥n de las variables que m√°s me llaman la atenci√≥n y las cuales quiero analizar, procedemos, de nuevo, a visualizar de manera general el dataset.

Para que sea m√°s automatizado el mapeo de las variables, as√≠ como sus valores (ya que vienen codificadas de manera num√©rica), he creado un script de python para la ayuda de la conversi√≥n.

In [4]:
# En primer lugar, convierto todas las variables en un √∫nico diccionario
mapeo = {}
for v in [values1, values2,values3, values4, values5, values6, values7, values8, values9, values10, values11, values12, values13, values14, values15, values16, values17, values18]:
    mapeo.update(v)

In [5]:
mapeo

{'EXERANY2': {1: 'Yes', 2: 'No', 7: 'Don‚Äôt know/Not Sure', 9: 'Refused'},
 'SLEPTIM1': {77: 'Don‚Äôt know/Not Sure', 99: 'Refused'},
 'SMOKE100': {1: 'Yes', 2: 'No', 7: 'Don‚Äôt know/Not Sure', 9: 'Refused'},
 'ALCDAY4': {range(101, 200): '1 day per week',
  range(201, 300): '2 days per week',
  777: 'Don‚Äôt know/Not sure',
  888: 'No drinks in past 30 days',
  999: 'Refused'},
 'MENTHLTH': {88: None, 77: 'Don‚Äôt know/Not sure', 99: 'Refused'},
 'GENHLTH': {1: 'Excellent',
  2: 'Very good',
  3: 'Good',
  4: 'Fair',
  5: 'Poor',
  7: 'Don‚Äôt know/Not Sure',
  9: 'Refused'},
 'PHYSHLTH': {77: 'Don‚Äôt know/Not sure', 99: 'Refused'},
 'DIABETE4': {1: 'Yes',
  2: 'Yes, but female told only during pregnancy',
  3: 'No',
  4: 'Pre-diabetes or borderline diabetes',
  7: 'Don‚Äôt know/Not Sure',
  9: 'Refused'},
 'CVDCRHD4': {1: 'Yes', 2: 'No', 7: 'Don‚Äôt know/Not sure', 9: 'Refused'},
 'ASTHMA3': {1: 'Yes', 2: 'No', 7: 'Don‚Äôt know/Not sure', 9: 'Refused'},
 'CHCOCNC1': {1: 'Yes', 2: 'No', 7: 'Don‚Äôt know/Not sure', 9: 'Refused'},
 'COLGSEX1': {1: 'Male', 2: 'Female'},
 '_AGEG5YR': {1: 'Age 18 to 24',
  2: 'Age 25 to 29',
  3: 'Age 30 to 34',
  4: 'Age 35 to 39',
  5: 'Age 30 to 44',
  6: 'Age 45 to 49',
  7: 'Age 50 to 54',
  8: 'Age 55 to 59',
  9: 'Age 60 to 64',
  10: 'Age 65 to 69',
  11: 'Age 70 to 74',
  12: 'Age 75 to 79',
  13: 'Age 80 or older'},
 'INCOME3': {1: 'Less than $10,000',
  2: '$10,000 to < $15,000',
  3: '$15,000 to < $20,000',
  4: '$20,000 to < $25,000',
  5: '$25,000 to < $35,000',
  6: '$35,000 to < $50,000',
  7: '$50,000 to < $75,000',
  8: '$75,000 to < $100,000',
  9: '$100,000 to < $150,000',
  10: '$150,000 to < $200,000',
  11: '$200,000 or more',
  77: 'Don‚Äôt know/Not sure',
  99: 'Refused'},
 '_EDUCAG': {1: 'Did not graduate High School',
  2: 'Graduated High School',
  3: 'Attended College or Technical School',
  4: 'Graduated from College or Technical School'},
 'EMPLOY1': {1: 'Employed for wages',
  2: 'Self-employed',
  3: 'Out of work for 1 year or more',
  4: 'Out of work for less than 1 year',
  5: 'A homemaker',
  6: 'A student',
  7: 'Retired',
  8: 'Unable to work',
  9: 'Refused'},
 '_STATE': {1: 'Alabama',
  2: 'Alaska',
  4: 'Arizona',
  5: 'Arkansas',
  6: 'California',
  8: 'Colorado',
  9: 'Connecticut',
  10: 'Delaware',
  11: 'District of Columbia',
  12: 'Florida',
  13: 'Georgia',
  15: 'Hawaii',
  16: 'Idaho',
  17: 'Illinois',
  18: 'Indiana',
  19: 'Iowa',
  20: 'Kansas',
  21: 'Kentucky',
  22: 'Louisiana',
  23: 'Maine',
  24: 'Maryland',
  25: 'Massachusetts',
  26: 'Michigan',
  27: 'Minnesota',
  28: 'Mississippi',
  29: 'Missouri',
  30: 'Montana',
  31: 'Nebraska',
  32: 'Nevada',
  33: 'New Hampshire',
  34: 'New Jersey',
  35: 'New Mexico',
  36: 'New York',
  37: 'North Carolina',
  38: 'North Dakota',
  39: 'Ohio',
  40: 'Oklahoma',
  41: 'Oregon',
  42: 'Pennsylvania',
  44: 'Rhode Island',
  45: 'South Carolina',
  46: 'South Dakota',
  47: 'Tennessee',
  48: 'Texas',
  49: 'Utah',
  50: 'Vermont',
  51: 'Virginia',
  53: 'Washington',
  54: 'West Virginia',
  55: 'Wisconsin',
  56: 'Wyoming',
  66: 'Guam',
  72: 'Puerto Rico',
  78: 'Virgin Islands'},
 '_BMI5CAT': {1: 'Underweight',
  2: 'Normal Weight',
  3: 'Overweight',
  4: 'Obese'}}

In [6]:
# Expando los ranges
mappings = {col: ranges_expand(map_dict) for col, map_dict in mapeo.items()}
mappings

{'EXERANY2': {1: 'Yes', 2: 'No', 7: 'Don‚Äôt know/Not Sure', 9: 'Refused'},
 'SLEPTIM1': {77: 'Don‚Äôt know/Not Sure', 99: 'Refused'},
 'SMOKE100': {1: 'Yes', 2: 'No', 7: 'Don‚Äôt know/Not Sure', 9: 'Refused'},
 'ALCDAY4': {101: '1 day per week',
  102: '1 day per week',
  103: '1 day per week',
  104: '1 day per week',
  105: '1 day per week',
  106: '1 day per week',
  107: '1 day per week',
  108: '1 day per week',
  109: '1 day per week',
  110: '1 day per week',
  111: '1 day per week',
  112: '1 day per week',
  113: '1 day per week',
  114: '1 day per week',
  115: '1 day per week',
  116: '1 day per week',
  117: '1 day per week',
  118: '1 day per week',
  119: '1 day per week',
  120: '1 day per week',
  121: '1 day per week',
  122: '1 day per week',
  123: '1 day per week',
  124: '1 day per week',
  125: '1 day per week',
  126: '1 day per week',
  127: '1 day per week',
  128: '1 day per week',
  129: '1 day per week',
  130: '1 day per week',
  131: '1 day per week',
  132: '1 day per week',
  133: '1 day per week',
  134: '1 day per week',
  135: '1 day per week',
  136: '1 day per week',
  137: '1 day per week',
  138: '1 day per week',
  139: '1 day per week',
  140: '1 day per week',
  141: '1 day per week',
  142: '1 day per week',
  143: '1 day per week',
  144: '1 day per week',
  145: '1 day per week',
  146: '1 day per week',
  147: '1 day per week',
  148: '1 day per week',
  149: '1 day per week',
  150: '1 day per week',
  151: '1 day per week',
  152: '1 day per week',
  153: '1 day per week',
  154: '1 day per week',
  155: '1 day per week',
  156: '1 day per week',
  157: '1 day per week',
  158: '1 day per week',
  159: '1 day per week',
  160: '1 day per week',
  161: '1 day per week',
  162: '1 day per week',
  163: '1 day per week',
  164: '1 day per week',
  165: '1 day per week',
  166: '1 day per week',
  167: '1 day per week',
  168: '1 day per week',
  169: '1 day per week',
  170: '1 day per week',
  171: '1 day per week',
  172: '1 day per week',
  173: '1 day per week',
  174: '1 day per week',
  175: '1 day per week',
  176: '1 day per week',
  177: '1 day per week',
  178: '1 day per week',
  179: '1 day per week',
  180: '1 day per week',
  181: '1 day per week',
  182: '1 day per week',
  183: '1 day per week',
  184: '1 day per week',
  185: '1 day per week',
  186: '1 day per week',
  187: '1 day per week',
  188: '1 day per week',
  189: '1 day per week',
  190: '1 day per week',
  191: '1 day per week',
  192: '1 day per week',
  193: '1 day per week',
  194: '1 day per week',
  195: '1 day per week',
  196: '1 day per week',
  197: '1 day per week',
  198: '1 day per week',
  199: '1 day per week',
  201: '2 days per week',
  202: '2 days per week',
  203: '2 days per week',
  204: '2 days per week',
  205: '2 days per week',
  206: '2 days per week',
  207: '2 days per week',
  208: '2 days per week',
  209: '2 days per week',
  210: '2 days per week',
  211: '2 days per week',
  212: '2 days per week',
  213: '2 days per week',
  214: '2 days per week',
  215: '2 days per week',
  216: '2 days per week',
  217: '2 days per week',
  218: '2 days per week',
  219: '2 days per week',
  220: '2 days per week',
  221: '2 days per week',
  222: '2 days per week',
  223: '2 days per week',
  224: '2 days per week',
  225: '2 days per week',
  226: '2 days per week',
  227: '2 days per week',
  228: '2 days per week',
  229: '2 days per week',
  230: '2 days per week',
  231: '2 days per week',
  232: '2 days per week',
  233: '2 days per week',
  234: '2 days per week',
  235: '2 days per week',
  236: '2 days per week',
  237: '2 days per week',
  238: '2 days per week',
  239: '2 days per week',
  240: '2 days per week',
  241: '2 days per week',
  242: '2 days per week',
  243: '2 days per week',
  244: '2 days per week',
  245: '2 days per week',
  246: '2 days per week',
  247: '2 days per week',
  248: '2 days per week',
  249: '2 days per week',
  250: '2 days per week',
  251: '2 days per week',
  252: '2 days per week',
  253: '2 days per week',
  254: '2 days per week',
  255: '2 days per week',
  256: '2 days per week',
  257: '2 days per week',
  258: '2 days per week',
  259: '2 days per week',
  260: '2 days per week',
  261: '2 days per week',
  262: '2 days per week',
  263: '2 days per week',
  264: '2 days per week',
  265: '2 days per week',
  266: '2 days per week',
  267: '2 days per week',
  268: '2 days per week',
  269: '2 days per week',
  270: '2 days per week',
  271: '2 days per week',
  272: '2 days per week',
  273: '2 days per week',
  274: '2 days per week',
  275: '2 days per week',
  276: '2 days per week',
  277: '2 days per week',
  278: '2 days per week',
  279: '2 days per week',
  280: '2 days per week',
  281: '2 days per week',
  282: '2 days per week',
  283: '2 days per week',
  284: '2 days per week',
  285: '2 days per week',
  286: '2 days per week',
  287: '2 days per week',
  288: '2 days per week',
  289: '2 days per week',
  290: '2 days per week',
  291: '2 days per week',
  292: '2 days per week',
  293: '2 days per week',
  294: '2 days per week',
  295: '2 days per week',
  296: '2 days per week',
  297: '2 days per week',
  298: '2 days per week',
  299: '2 days per week',
  777: 'Don‚Äôt know/Not sure',
  888: 'No drinks in past 30 days',
  999: 'Refused'},
 'MENTHLTH': {88: None, 77: 'Don‚Äôt know/Not sure', 99: 'Refused'},
 'GENHLTH': {1: 'Excellent',
  2: 'Very good',
  3: 'Good',
  4: 'Fair',
  5: 'Poor',
  7: 'Don‚Äôt know/Not Sure',
  9: 'Refused'},
 'PHYSHLTH': {77: 'Don‚Äôt know/Not sure', 99: 'Refused'},
 'DIABETE4': {1: 'Yes',
  2: 'Yes, but female told only during pregnancy',
  3: 'No',
  4: 'Pre-diabetes or borderline diabetes',
  7: 'Don‚Äôt know/Not Sure',
  9: 'Refused'},
 'CVDCRHD4': {1: 'Yes', 2: 'No', 7: 'Don‚Äôt know/Not sure', 9: 'Refused'},
 'ASTHMA3': {1: 'Yes', 2: 'No', 7: 'Don‚Äôt know/Not sure', 9: 'Refused'},
 'CHCOCNC1': {1: 'Yes', 2: 'No', 7: 'Don‚Äôt know/Not sure', 9: 'Refused'},
 'COLGSEX1': {1: 'Male', 2: 'Female'},
 '_AGEG5YR': {1: 'Age 18 to 24',
  2: 'Age 25 to 29',
  3: 'Age 30 to 34',
  4: 'Age 35 to 39',
  5: 'Age 30 to 44',
  6: 'Age 45 to 49',
  7: 'Age 50 to 54',
  8: 'Age 55 to 59',
  9: 'Age 60 to 64',
  10: 'Age 65 to 69',
  11: 'Age 70 to 74',
  12: 'Age 75 to 79',
  13: 'Age 80 or older'},
 'INCOME3': {1: 'Less than $10,000',
  2: '$10,000 to < $15,000',
  3: '$15,000 to < $20,000',
  4: '$20,000 to < $25,000',
  5: '$25,000 to < $35,000',
  6: '$35,000 to < $50,000',
  7: '$50,000 to < $75,000',
  8: '$75,000 to < $100,000',
  9: '$100,000 to < $150,000',
  10: '$150,000 to < $200,000',
  11: '$200,000 or more',
  77: 'Don‚Äôt know/Not sure',
  99: 'Refused'},
 '_EDUCAG': {1: 'Did not graduate High School',
  2: 'Graduated High School',
  3: 'Attended College or Technical School',
  4: 'Graduated from College or Technical School'},
 'EMPLOY1': {1: 'Employed for wages',
  2: 'Self-employed',
  3: 'Out of work for 1 year or more',
  4: 'Out of work for less than 1 year',
  5: 'A homemaker',
  6: 'A student',
  7: 'Retired',
  8: 'Unable to work',
  9: 'Refused'},
 '_STATE': {1: 'Alabama',
  2: 'Alaska',
  4: 'Arizona',
  5: 'Arkansas',
  6: 'California',
  8: 'Colorado',
  9: 'Connecticut',
  10: 'Delaware',
  11: 'District of Columbia',
  12: 'Florida',
  13: 'Georgia',
  15: 'Hawaii',
  16: 'Idaho',
  17: 'Illinois',
  18: 'Indiana',
  19: 'Iowa',
  20: 'Kansas',
  21: 'Kentucky',
  22: 'Louisiana',
  23: 'Maine',
  24: 'Maryland',
  25: 'Massachusetts',
  26: 'Michigan',
  27: 'Minnesota',
  28: 'Mississippi',
  29: 'Missouri',
  30: 'Montana',
  31: 'Nebraska',
  32: 'Nevada',
  33: 'New Hampshire',
  34: 'New Jersey',
  35: 'New Mexico',
  36: 'New York',
  37: 'North Carolina',
  38: 'North Dakota',
  39: 'Ohio',
  40: 'Oklahoma',
  41: 'Oregon',
  42: 'Pennsylvania',
  44: 'Rhode Island',
  45: 'South Carolina',
  46: 'South Dakota',
  47: 'Tennessee',
  48: 'Texas',
  49: 'Utah',
  50: 'Vermont',
  51: 'Virginia',
  53: 'Washington',
  54: 'West Virginia',
  55: 'Wisconsin',
  56: 'Wyoming',
  66: 'Guam',
  72: 'Puerto Rico',
  78: 'Virgin Islands'},
 '_BMI5CAT': {1: 'Underweight',
  2: 'Normal Weight',
  3: 'Overweight',
  4: 'Obese'}}

In [ ]:
# Mapeo en el DF original
df_1 = df.copy()

for col, m in mappings.items():
    df_1[col] = df_1[col].apply(lambda x: m.get(x, x)) # Uso lambda para que me cambie aquellos valores que est√°n en el dict para que algunos valores me lo deje como est√°n.

In [15]:
cols = mappings.keys()

In [17]:
df_1 = df_1[cols]

***2.3 Vista general***
    Mostrar dimensiones (filas/columnas).

    Mostrar primeras filas
2.3 Tipos de datos

Revisar tipos de columna.

Identificar columnas num√©ricas, categ√≥ricas y c√≥digos especiales.